* {
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  position: relative;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: url("../images/PSGG-logo-big.png") 50% 50%/auto 10rem no-repeat white;
}

.section-space {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.highlight1 {
  color: #386641;
}

.highlight2 {
  color: #a7c957;
}

.highlight3 {
  color: #6a994e;
}

.max-offset {
  max-width: 100%;
  position: relative;
  left: 50%;
  width: 100vw;
  transform: translateX(-50%);
}

.icon-container {
  background-color: #2a2a2a;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.icon-container .fas {
  color: #a7c957;
}

.btn-view {
  font-weight: 700;
  color: #2a2a2a;
  background-color: #a7c957;
  border: 1px solid #a7c957;
}
.btn-view:hover {
  background-color: transparent;
  color: #6a994e;
  border-color: #a7c957;
}

.pagination-nav {
  padding-top: 2rem;
}
.pagination-nav .page-item .page-link {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 1.8rem;
  justify-content: center;
  align-items: center;
  display: flex;
  border: none;
  color: #2a2a2a;
  font-weight: 700;
  transition: 0.1s;
  margin: 0 0.1rem;
}
.pagination-nav .page-item .page-link.active, .pagination-nav .page-item .page-link:hover {
  background-color: #a7c957;
  color: #f6f2e9;
  outline: 0;
}

.navbar {
  background-color: #f6f2e9;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.navbar .navbar-brand {
  padding: 0;
}
.navbar .navbar-brand img {
  width: 60px;
}
.navbar .navbar-toggler {
  border: none;
  outline: 0;
}
.navbar .navbar-nav .nav-item {
  padding: 0 20px;
}
.navbar .navbar-nav .nav-item.active .nav-link {
  color: #6a994e;
}
.navbar .navbar-nav .nav-item:hover .nav-link {
  color: #6a994e;
  transition: 0.3s;
}
.navbar .navbar-nav .nav-item .nav-link {
  font-size: 1.2rem;
  font-weight: 700;
  color: #2a2a2a;
}
.navbar .navbar-nav.navbar-top {
  justify-content: flex-end;
}
.navbar .navbar-nav.navbar-top .nav-item .nav-link {
  font-size: 0.9rem;
}
.navbar .admin-nav .fa-user-circle:before {
  font-size: 1.5rem;
  color: #a7c957;
}
.navbar .admin-nav .admin-name {
  font-weight: 700;
}
.navbar .admin-nav .dropdown-menu .dropdown-item {
  transition: 0.3s;
}
.navbar .admin-nav .dropdown-menu .dropdown-item:hover {
  background-color: #a7c957;
}

.home-banner .carousel-indicators li {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
  border: 2px solid #f6f2e9;
  background-color: transparent;
}
.home-banner .carousel-indicators li.active {
  background-color: #a7c957;
  border-color: #a7c957;
}
.home-banner .car-arrow {
  width: 70px;
}

.home-announcement {
  padding-bottom: 4rem;
}
.home-announcement .card {
  border: none;
}
.home-announcement .card .card-title {
  font-weight: 700;
  font-size: 1.2rem;
}
.home-announcement .card .card-text {
  font-size: 1rem;
}
.home-announcement .slick-slider .slick-nav {
  top: auto;
  bottom: -1rem;
  width: 100%;
}
.home-announcement .slick-slider .slick-nav .icon-container {
  left: auto;
}
.home-announcement .slick-slider .slick-nav.prev .icon-container {
  right: 5rem;
}
.home-announcement .slick-slider .slick-nav.next .icon-container {
  right: 2rem;
}

.about-page .bottom-content .nav-tabs .nav-link {
  color: #2a2a2a;
  background-color: #f6f2e9;
  border: 1px solid #6a994e;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom: none;
}
.about-page .bottom-content .nav-tabs .nav-link.active {
  color: #f6f2e9;
  background-color: #6a994e;
}
.about-page .bottom-content .tab-content {
  min-height: 20rem;
  border: 1px solid #6a994e;
  padding: 2.5rem;
}
.about-page .bottom-content .tab-content .mission h3, .about-page .bottom-content .tab-content .vision h3 {
  font-weight: 700;
}
.about-page .mobile-bottom-content {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.about-page .mobile-bottom-content #accordion .card .card-header {
  padding: 0.25rem 1rem;
  background-color: #f6f2e9;
  border: 1px solid #6a994e;
}
.about-page .mobile-bottom-content #accordion .card .card-header .btn-link {
  color: #2a2a2a;
  width: 100%;
  text-align: left;
}
.about-page .mobile-bottom-content #accordion .card .card-header .btn-link:hover {
  text-decoration: none;
}

.gallery-page .album-container {
  padding-bottom: 1rem;
}
.gallery-page .album-container .album-image {
  background-color: #6a994e;
}
.gallery-page .album-container .album-image a img {
  transition: 0.3s;
}
.gallery-page .album-container .album-image a:hover img {
  opacity: 0.5;
}
.gallery-page .album-container .album-image a:hover .text-view {
  opacity: 1;
}
.gallery-page .album-container .album-image a .text-view {
  font-weight: 700;
  top: 50%;
  left: 50%;
  bottom: auto;
  right: auto;
  transform: translate(-50%, -50%);
  color: #f6f2e9;
  transition: 0.3s;
  opacity: 0;
}
.gallery-page .album-container .album-title {
  padding-top: 0.5rem;
}
.gallery-page .album-container .album-title a {
  color: #2a2a2a;
}
.gallery-page .album-container .album-title a:hover {
  color: #6a994e;
  text-decoration: none;
}

.gallery-inner-page .album-images {
  padding-bottom: 1rem;
}
.gallery-inner-page .album-images .album-image {
  cursor: pointer;
}

.activity-page .card {
  border-color: transparent;
  transition: 0.3s;
}
.activity-page .card:hover {
  border-color: #a7c957;
  box-shadow: 0 0 0.5rem #edeeee;
}

.contact-page .top-details-container {
  padding-bottom: 2.5rem;
}
.contact-page .top-details-container .image-container {
  padding-right: 2.5rem;
}
.contact-page .top-details-container .image-container img {
  width: 3rem;
}
.contact-page .bottom-details-container .social-links {
  padding-top: 1rem;
}
.contact-page .bottom-details-container .social-links img {
  width: 3rem;
  margin-right: 0.8rem;
}

.admin-page {
  background-color: #f5f5f5;
}
.admin-page .side-nav-container {
  height: 100%;
  min-height: 100vh;
  background-color: #edeeee;
}
.admin-page .side-nav-container .nav-pills {
  background-color: #2a2a2a;
  border-right: 1px solid #dee2e6;
}
.admin-page .side-nav-container .nav-pills .nav-link {
  color: #f6f2e9;
  border-radius: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.admin-page .side-nav-container .nav-pills .nav-link:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.admin-page .side-nav-container .nav-pills .nav-link.active, .admin-page .side-nav-container .nav-pills .nav-link:hover {
  background-color: #a7c957;
  color: #2a2a2a;
}
.admin-page .content-gutter {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.admin-page .content-gutter .content-block {
  background-color: #fff;
  min-height: 100%;
  border-radius: 0.5rem;
}
.admin-page .content-gutter .content-block .chart-container {
  border: 1px solid #2a2a2a;
  border-radius: 0.5rem;
  margin: 2rem 1rem 5rem;
  padding: 2rem 0 4rem;
}

footer {
  background-color: #f6f2e9;
  padding-top: 3rem;
  position: absolute;
  bottom: 0;
  top: auto;
  width: 100%;
}
footer .footer-top-content {
  padding-bottom: 3rem;
}
footer .footer-top-content .footer-socials a:hover {
  outline: 0;
  text-decoration: none;
}
footer .footer-top-content .footer-socials a:hover img {
  margin-top: 0;
}
footer .footer-top-content .footer-socials img {
  width: 1.8rem;
  margin-right: 0.3rem;
  margin-top: 5px;
  transition: 0.3s;
}
footer .footer-top-content .img-container img {
  width: 7rem;
  min-width: 7rem;
}
footer .footer-top-content .footer-content {
  margin-left: 2rem;
}
footer .footer-top-content .footer-content .f-details .f-address, footer .footer-top-content .footer-content .f-details .f-telephone, footer .footer-top-content .footer-content .f-details .f-email {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}
footer .footer-top-content .footer-content .f-details .fas {
  padding-right: 15px;
  padding-top: 5px;
}
footer .footer-top-content .footer-content .f-details .add {
  width: 55%;
}
footer .footer-top-content ul li {
  padding-bottom: 5px;
}
footer .footer-top-content ul li a {
  color: #2a2a2a;
  font-weight: 700;
  transition: 0.3s;
}
footer .footer-top-content ul li a:hover {
  color: #6a994e;
  text-decoration: none;
}
footer .footer-lower-content {
  background-color: #a7c957;
  height: auto;
}
footer .footer-lower-content .copyright, footer .footer-lower-content .designer {
  padding-top: 0.5rem;
}
footer .footer-lower-content .designer .des {
  color: #f6f2e9;
}
footer .footer-lower-content .designer .name {
  font-weight: 700;
}

/*XS  414 375 320 */
@media only screen and (min-width: 0px) and (max-width: 575px) {
  .section-space {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .home-announcement {
    padding-bottom: 2rem;
  }
  .home-announcement .card {
    padding: 0 0.3rem;
  }
  .home-announcement .slick-slider .slick-nav {
    bottom: 0;
  }
  .home-announcement .slick-slider .slick-nav.next .icon-container {
    right: 0;
  }
  .home-announcement .slick-slider .slick-nav.prev .icon-container {
    right: 3rem;
  }

  .about-page .top-content .section-title {
    margin-top: 1rem;
  }
  .about-page .mid-content .row {
    display: flex;
    flex-wrap: wrap-reverse;
  }
  .about-page .mid-content .row h4 {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .contact-page .contact-container .section-title {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
  .contact-page .contact-container .bottom-details-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .mobile-side-nav-icon {
    top: 77px;
    left: 0;
    z-index: 1;
    background-color: #2a2a2a;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0.3rem 0.8rem 0.3rem 0.5rem;
  }
  .mobile-side-nav-icon .fa-bars {
    color: #f6f2e9;
  }

  .mobile-side-nav {
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 73vw;
    z-index: 2;
    transform: translateX(-100%);
    opacity: 0;
    transition: 0.3s;
    overflow-y: auto;
  }
  .mobile-side-nav .fa-window-close {
    position: absolute;
    left: auto;
    right: 5px;
    top: 5px;
    font-size: 1.5rem;
    color: #a7c957;
  }
  .mobile-side-nav.open {
    transform: translateX(0);
    opacity: 1;
  }
  .mobile-side-nav .nav-pills {
    background-color: #2a2a2a;
  }
  .mobile-side-nav .nav-pills .nav-link {
    color: #f6f2e9;
    border-radius: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
  .mobile-side-nav .nav-pills .nav-link:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .mobile-side-nav .nav-pills .nav-link.active, .mobile-side-nav .nav-pills .nav-link:hover {
    background-color: #a7c957;
    color: #2a2a2a;
  }

  footer .footer-top-content .d-flex {
    flex-wrap: wrap;
    justify-content: center;
  }
  footer .footer-top-content .d-flex .img-container {
    margin-bottom: 1.5rem;
  }
  footer .footer-top-content .footer-content {
    margin-left: 0;
  }
  footer .footer-top-content .footer-content .footer-title {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  footer .footer-top-content .footer-content .f-details .f-address, footer .footer-top-content .footer-content .f-details .f-telephone, footer .footer-top-content .footer-content .f-details .f-email {
    padding-bottom: 0.5rem;
    justify-content: center;
  }
  footer .footer-top-content .info-block, footer .footer-top-content .social-block {
    text-align: center;
    padding-top: 1.5rem;
  }
  footer .footer-lower-content .copyright, footer .footer-lower-content .designer {
    width: 100%;
    text-align: center;
  }
}
/*SM*/
/*MD  768 */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  footer .footer-lower-content .copyright, footer .footer-lower-content .designer {
    width: 50%;
  }
  footer .footer-lower-content .designer {
    text-align: right;
  }
}
/*LG  1024  1125 */
/*XL  1920 1600 1536 1366 1280 */

/*# sourceMappingURL=style.css.map */
