$grn1: #386641
$grn2: #6a994e
$grn3: #a7c957
$blk: #2a2a2a
$wht1: #f6f2e9
$wht2: #edeeee

$font: 'Raleway', sans-serif

$i: !important
$trans: transparent

*
	font-family: $font
	padding: 0
	margin: 0

html
	scroll-behavior: smooth

body
	min-height: 100vh
	position: relative

// general
h1, h2, h3, h4, h5 
	font-weight: 700

.loader
	position: fixed
	left: 0px
	top: 0px
	width: 100%
	height: 100%
	z-index: 999
	background: url('../images/PSGG-logo-big.png') 50% 50% / auto 10rem no-repeat rgb(255,255,255)

.section-space
	padding-top: 4rem
	padding-bottom: 4rem

.section-title
	font-size: 2.5rem
	font-weight: 700
	margin-bottom: 2rem

.highlight1
	color: $grn1

.highlight2
	color: $grn3

.highlight3
	color: $grn2

.max-offset
	max-width: 100%
	position: relative
	left: 50%
	width: 100vw
	transform: translateX(-50%)

.icon-container
	background-color: #2a2a2a
	width: 35px
	height: 35px
	border-radius: 50%
	display: flex
	align-items: center
	justify-content: center
	transition: 0.3s

	.fas
		color: $grn3

.btn-view
	font-weight: 700
	color: $blk
	background-color: $grn3
	border: 1px solid $grn3

	&:hover
		background-color: $trans
		color: $grn2
		border-color: $grn3

// Pagination
.pagination-nav
	padding-top: 2rem

	.page-item
		.page-link
			width: 1.8rem
			height: 1.8rem
			border-radius: 1.8rem
			justify-content: center
			align-items: center
			display: flex
			border: none
			color: $blk
			font-weight: 700
			transition: 0.1s
			margin: 0 .1rem

			&.active, &:hover
				background-color: $grn3
				color: $wht1
				outline: 0

// menu
.navbar
	background-color: $wht1
	border-bottom: 1px solid rgba(0,0,0,0.1)

	.navbar-brand
		padding: 0

		img
			width: 60px

	.navbar-toggler
		border: none
		outline: 0

	.navbar-nav
		.nav-item
			padding: 0 20px

			&.active
				.nav-link
					color: $grn2

			&:hover
				.nav-link
					color: $grn2
					transition: .3s



			.nav-link
				font-size: 1.2rem		
				font-weight: 700
				color: $blk

		&.navbar-top
			justify-content: flex-end

			.nav-item
				.nav-link
					font-size: .9rem

	.admin-nav
		.fa-user-circle
			&:before
				font-size: 1.5rem
				color: $grn3

		.admin-name
			font-weight: 700

		.dropdown-menu
			.dropdown-item
				transition: .3s

				&:hover
					background-color: $grn3



//Home Page
// home slider
.home-banner
	.carousel-indicators
		li
			width: 0.8rem
			height: 0.8rem
			border-radius: 50%
			margin-left: 5px
			margin-right: 5px
			border: 2px solid $wht1
			background-color: $trans

			&.active
				background-color: $grn3
				border-color: $grn3

	.car-arrow
		width: 70px

// home announcement
.home-announcement
	padding-bottom: 4rem
	.card
		border: none

		.card-title
			font-weight: 700
			font-size: 1.2rem

		.card-text
			font-size: 1rem



	.slick-slider
		.slick-nav
			top: auto
			bottom: -1rem
			width: 100%

			.icon-container
				left: auto

			&.prev
				.icon-container
					right: 5rem

			&.next
				.icon-container
					right: 2rem
				
// About Page
.about-page
	.bottom-content
		.nav-tabs
			.nav-link
				color: $blk
				background-color: $wht1
				border: 1px solid $grn2
				border-top-left-radius: 0.5rem
				border-top-right-radius: 0.5rem
				border-bottom: none

				&.active
					color: $wht1
					background-color: $grn2

		.tab-content
			min-height: 20rem
			border: 1px solid $grn2
			padding: 2.5rem

			.mission, .vision
				h3
					font-weight: 700

	.mobile-bottom-content
		padding-top: 3rem
		padding-bottom: 3rem
		
		#accordion
			.card
				.card-header
					padding: .25rem 1rem
					background-color: $wht1
					border: 1px solid $grn2

					.btn-link
						color: $blk
						width: 100%
						text-align: left

						&:hover
							text-decoration: none

// Gallery Page
.gallery-page
	.album-container
		padding-bottom: 1rem

		.album-image
			background-color: $grn2

			a
				img
					transition: 0.3s
				&:hover
					img
						opacity: 0.5

					.text-view
						opacity: 1

				.text-view
					font-weight: 700
					top: 50%
					left: 50%
					bottom: auto
					right: auto
					transform: translate(-50%, -50%)
					color: $wht1
					transition: 0.3s
					opacity: 0


		.album-title
			padding-top: 0.5rem
			
			a
				color: $blk

				&:hover
					color: $grn2
					text-decoration: none

// Gallery Inner Page
.gallery-inner-page
	.album-images
		padding-bottom: 1rem

		.album-image
			cursor: pointer


// Activities Page
.activity-page
	.card
		border-color: $trans
		transition: .3s

		&:hover
			border-color: $grn3
			box-shadow: 0 0 .5rem $wht2


// Contact Page
.contact-page
	.top-details-container
		padding-bottom: 2.5rem
		
		.image-container
			padding-right: 2.5rem

			img
				width: 3rem

	.bottom-details-container
		.social-links
			padding-top: 1rem

			img
				width: 3rem
				margin-right: 0.8rem


// Admin Page
.admin-page
	background-color: #f5f5f5
	
	.side-nav-container
		height: 100%
		min-height: 100vh
		background-color: $wht2

		.nav-pills
			background-color: $blk
			border-right: 1px solid #dee2e6

			.nav-link
				color: $wht1
				border-radius: 0
				border-top: 1px solid rgba(255,255,255, 0.3)
				
				&:last-child
					border-bottom: 1px solid rgba(255,255,255, 0.3)

				&.active, &:hover
					background-color: $grn3
					color: $blk

	.content-gutter
		margin-top: 4rem
		margin-bottom: 4rem

		.content-block
			background-color: #fff
			min-height: 100%
			border-radius: 0.5rem

			.chart-container
				border: 1px solid $blk
				border-radius: 0.5rem
				margin: 2rem 1rem 5rem
				padding: 2rem 0 4rem


// Footer
footer
	background-color: $wht1
	padding-top: 3rem
	position: absolute
	bottom: 0
	top: auto
	width: 100%

	.footer-top-content
		padding-bottom: 3rem

		.footer-socials
			a
				&:hover
					outline: 0
					text-decoration: none

					img
						margin-top: 0
			img
				width: 1.8rem
				margin-right: 0.3rem
				margin-top: 5px
				transition: .3s



		.img-container
			img
				width: 7rem
				min-width: 7rem

		.footer-content
			margin-left: 2rem

			.f-details
				.f-address, .f-telephone, .f-email
					display: flex
					flex-wrap: nowrap
					align-items: flex-start

				.fas
					padding-right: 15px
					padding-top: 5px

				.add
					width: 55%

		ul
			li
				padding-bottom: 5px
				a
					color: $blk
					font-weight: 700
					transition: .3s

					&:hover
						color: $grn2
						text-decoration: none


	.footer-lower-content
		background-color: $grn3
		height: auto

		.copyright, .designer
			padding-top: 0.5rem

		.designer
			.des
				color: $wht1

			.name
				font-weight: 700



/*XS  414 375 320 */
@media only screen and (min-width: 0px) and (max-width: 575px)
	// General
	.section-space
		padding-top: 3rem
		padding-bottom: 3rem

	// Home
	.home-announcement
		padding-bottom: 2rem

		.card
			padding: 0 0.3rem

		.slick-slider
			.slick-nav
				bottom: 0

				&.next
					.icon-container
						right: 0

				&.prev
					.icon-container
						right: 3rem

	// About
	.about-page
		.top-content
			.section-title
				margin-top: 1rem

		.mid-content
			.row
				display: flex
				flex-wrap: wrap-reverse

				h4
					margin-top: 1rem
					margin-bottom: 2rem

	// Contact
	.contact-page
		.contact-container
			.section-title
				margin-top: 1rem
				display: flex
				justify-content: center

			.bottom-details-container
				display: flex
				justify-content: center
				flex-wrap: wrap

	// Admin
	.mobile-side-nav-icon
		top: 77px
		left: 0
		z-index: 1
		background-color: $blk
		border-top-right-radius: 10px
		border-bottom-right-radius: 10px
		padding: .3rem .8rem .3rem .5rem

		.fa-bars
			color: $wht1
	.mobile-side-nav
		top: 0
		left: 0
		background-color: rgba(0, 0, 0, 0.9)
		height: 100%
		width: 73vw
		z-index: 2
		transform: translateX(-100%)
		opacity: 0
		transition: .3s
		overflow-y: auto

		.fa-window-close
			position: absolute
			left: auto
			right: 5px
			top: 5px
			font-size: 1.5rem
			color: $grn3

		&.open
			transform: translateX(0)
			opacity: 1


		.nav-pills
			background-color: $blk

			.nav-link
				color: $wht1
				border-radius: 0
				border-top: 1px solid rgba(255,255,255, 0.3)
				
				&:last-child
					border-bottom: 1px solid rgba(255,255,255, 0.3)

				&.active, &:hover
					background-color: $grn3
					color: $blk

	// Footer
	footer
		.footer-top-content
			.d-flex
				flex-wrap: wrap
				justify-content: center

				.img-container
					margin-bottom: 1.5rem

			.footer-content
				margin-left: 0

				.footer-title
					text-align: center
					margin-bottom: 1.5rem

				.f-details
					.f-address, .f-telephone, .f-email
						padding-bottom: .5rem
						justify-content: center

			.info-block, .social-block
				text-align: center
				padding-top: 1.5rem


		.footer-lower-content
			.copyright, .designer
				width: 100%
				text-align: center



/*SM*/
@media only screen and (min-width: 576px) and (max-width: 767px)

/*MD  768 */
@media only screen and (min-width: 768px) and (max-width: 991px)
	footer
		.footer-lower-content
			.copyright, .designer
				width: 50%

			.designer
				text-align: right

/*LG  1024  1125 */
@media only screen and (min-width: 992px) and (max-width: 1199px)

/*XL  1920 1600 1536 1366 1280 */
@media only screen and (min-width: 1200px)
